<p id="notice"><%= notice %></p>



<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>

<br>
<h3>カテゴリ</h3>
<% @allblogs.each do |blog| %>
  <%= link_to blog.category,  controller: "blogs", action: "index", search: blog.category%>
<% end %>

<h3>カレンダー</h3>
<%= link_to 'スケジュール記入', new_blog_path %>
<%= month_calendar events: @blogs do |date, blogs| %>
  <%= date.day %>


  <% blogs.each do |blog| %>
    <div>
      <%= link_to blog.title, blog %>
    </div>
  <% end %>
<% end %>