<h1>
<%= @blog.start_time.strftime("%Y-%m-%d %H:%M").to_date %>
</h1>


<tbody>
<% @blogs.each do |blog| %>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>タイトル</strong>
      <%= blog.title %>
    </p>
    
    <p>
      <strong>カテゴリ</strong>
      <%= blog.category %>
    </p>
    
    <p>
      <strong>時間</strong>
      <%= blog.start_time.strftime("%Y-%m-%d %H:%M") %>
    </p>
    
    <p>
      <strong>内容</strong>
      <%= blog.content %>
    </p>
    
    <%= link_to '編集', edit_blog_path(blog) %>
    <%= link_to '削除',blog_path(blog.id), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
</tbody>



<%= link_to '戻る', blogs_path %>